[corelight-{{ corelight_release_branch }}]
name = Corelight {{ corelight_release_branch }} Repository
baseurl = https://{{ corelight_repo_url }}/rpm/{{ corelight_release_branch }}/$releasever/$basearch/
enabled = 1
gpgcheck = 1
