depend_packages:
{% if install_depends.results is defined %}
{% for item in install_depends.results %}
{% if item.stdout_lines is defined %}
{% if item.stdout_lines is search("dependencies") %}
  - name: '{{ item.stdout_lines | regex_replace('\[\'The following packages will be INSTALLED:\', \'\s+([^\s]+) \(.*?\)\', \'\', \'The following dependencies will be INSTALLED:\', \'\s+([^\s]+).*', '\\1') | regex_replace('.+?([^/]+)$', '\\1')}}'
    dependency: '{{ item.stdout_lines | regex_replace('\[\'The following packages will be INSTALLED:\', \'\s+([^\s]+) \(.*?\)\', \'\', \'The following dependencies will be INSTALLED:\', \'\s+([^\s]+).*', '\\2') | regex_replace('.+?([^/]+)$', '\\1')}}'
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
