# Ignore customer files in the common files folder.
common/**
**/files/*
!common/files
!common/files/Geo*
!common/files/input-files
!**/default-input-files
!**/default-input-files/*
!common/files/suricata-custom-rules
!.keep.rules
!common/files/zkg_bundles
!common/inventory
!requirements.yml

# Ignore customer files in all vars folders.
**/vars/**
!fragments
!host_facts



suricata.rules
suricata-version-facts.yaml
remove-packages.json
depends-packages.yaml
custom-rule-file-list.json
remove-rule-file-list.json

.ansible-lint
!.keep
!default*
!example*


cleanup.sh
ansible-*
