# You only need to set the following value if the hostname the system has already is
# not an acceptable name to use in the logs and other export locations.
#Corelight::system_name       corelight-sniff01

# Below is an example "sniff" option.  Interfaces are separated with commas and the number
# of workers is optionally specified after the interface with a tilde (~).
# If the "corelight" process is already started, once this option is configured, the cluster
# will automatically start up. You don't need to take any additional action.
#Corelight::sniff             eth0~4,eth1~2
Corelight::sniff

# Corelight::disk_space is the base directory or directory root for the Software Sensor.  All relative
# paths configured below will be based on this directory.
# You likely don't want to change this. By default, the packaged (RPM/DEB) versions of
# the Corelight Software Sensor create this location.
#Corelight::disk_space        /var/corelight

# If you would like to avoid sharing stats with Corelight for debugging and health
# monitoring purposes, change this value to "F".
Corelight_Cloud::share_stats T

# Local networks
Site::local_nets             10.0.0.0/8,192.168.0.0/16,172.16.0.0/12,100.64.0.0/10,127.0.0.0/8,fe80::/10,::1/128

# Zeek script(s) to load. This can normally be left alone and you can edit the local.zeek
# script to load additional scripts.
Corelight::load_scripts      /etc/corelight/local.zeek

# A BPF filter of traffic that you would like to ignore.
Corelight::ignore_bpf

# The amount of memory in Megabytes that you'd like to set as a maximum allowed per process.
# This can prevent accidental script mistakes or unexpected side effects from completely taking
# over all memory on your system.
Corelight::memory_limit_mb   6500


#####################
# Suricata Settings #
#####################

# Enable or disable Suricata
Suricata::enable       F

# The absolute path to the directory where your rule files are stored.
Suricata::rule_path    /etc/corelight/rules/

# A list of rules to load from the Suricata::rule_path directory.
Suricata::rule_files   *.rules


#############################################
# Analyzer Specific Settings                #
#############################################

### WARNING!  This is a beta feature! ###
# Enable the beta archive expansion plugin.
# This will cause the Software Sensor to dig further into archive files like Zips and tar.gz.
Corelight::archive_expand_enable   F

#############################################
# Streaming Exporter configs are below here #
#############################################

# JSON into Splunk's HEC (HTTP Event Collector) API
Corelight::hec_enable            F
Corelight::hec_url               https://mysplunk.com:8088/services/collector
Corelight::hec_token
Corelight::hec_sourcetype_prefix
Corelight::hec_verify_cert       T

# JSON to a Kafka server
Corelight::kafka_enable          F
Corelight::kafka_servers         1.2.3.4:9092
Corelight::kafka_topic_prefix
Corelight::kafka_enable_ssl      T
Corelight::kafka_sasl_username
Corelight::kafka_sasl_password
Corelight::kafka_ssl_ca_location

# JSON over TCP export
Corelight::json_enable       F
Corelight::json_server       1.2.3.4:12345

# JSON over TCP syslog export
Corelight::syslog_enable     F
Corelight::syslog_server     1.2.3.4:514
# This is a lower case syslog priority
Corelight::syslog_facility   local0
# This is a lower case syslog severity
Corelight::syslog_severity   info
# Valid optons are rfc5424_octet_framing, rfc5424_non_transparent, or rfc3164
Corelight::syslog_format     rfc5424_octet_framing

# JSON to a redis server.  This can only use the RPUSH command right now.
Corelight::redis_enable      F
Corelight::redis_host        127.0.0.1
Corelight::redis_port        6379
Corelight::redis_password
# A string that will be prepended to the path name.  If you don't want it, you can leave this field blank.
Corelight::redis_key_prefix  corelight-

####################################
# Batch Log configs are below here #
####################################

# Global settings for batch logs
# This group of settings is not dynamic at the moment and the software sensor must
# be restarted in order to apply them.
Corelight::batch_log_format            json
Corelight::batch_log_rotation_interval 3600
Corelight::batch_log_gzip              F

# Enable/disable writing logs to the disk file system
#  T: Write batch logs to the disk file system, with rotation
#  F: Don't write any logs to the disk file system at all
Corelight::batch_log_disk_enable           T
# If this is a absolute path it will extract there, if relative, it is relative to the base directory
# defined above with (Corelight::disk_space).
Corelight::batch_log_disk_path             ./logs
# Enable this to make the software sensor automatically maintain disk utilization (only if batch_log_disk_enable is T)
Corelight::batch_log_disk_cleanup_enable   F
# Keep disk usage at the specified log storage location under a specified percentage.
Corelight::batch_log_disk_cleanup_pct_max  80

# Batch log export over SFTP
Corelight::batch_log_ssh_enable    F
# Following option are for "sftp"
Corelight::batch_log_ssh_mode      sftp
Corelight::batch_log_ssh_server    1.2.3.4
Corelight::batch_log_ssh_port      22
Corelight::batch_log_ssh_user      username
# Leave this empty is doing key based authentication
Corelight::batch_log_ssh_password
# Point to a privkey file on disk or encode the privkey directy in this variable hex escaped. (i.e. \xFF)
Corelight::batch_log_ssh_privkey
# Leave this empty if the key has no passphrase
Corelight::batch_log_ssh_privkey_passphrase
# Path on the remote file system to write logs.  If relative path given, it will be relative to remote users home dir.
Corelight::batch_log_ssh_path      ./corelight-logs


#########################################
# Extracted File configs are below here #
#########################################

# Global settings for extracted files
Corelight::extracted_files_max_bytes               5242880
# This is an additional way to provide a way to limit files that get extracted based on the "Corelight Filter Language"
#   Documentation for this variable and the language is forthcoming.
Corelight::extracted_files_filter

# Global settings to define the types of files to extract.
# Supported MIME types can be seen here: https://github.com/zeek/zeek/tree/master/scripts/base/frameworks/files/magic
# Specify desired mimetypes as a comma separated list and here is an example below:
#Corelight::extracted_files_mime_types             image/jpeg,text/html
Corelight::extracted_files_mime_types
# These are groups of mimetypes and are added to any mime types above.
Corelight::extracted_files_group_archives          T
Corelight::extracted_files_group_executables       T
Corelight::extracted_files_group_flash             T
Corelight::extracted_files_group_java              T
Corelight::extracted_files_group_office_documents  T
Corelight::extracted_files_group_pdfs              T

# Extracted file export to local file system
Corelight::extracted_files_disk_enable          F
# If this is a absolute path it will extract there, if relative, it is relative to the base directory
# defined above with (Corelight::disk_space).
Corelight::extracted_files_disk_directory    ./extracted_files
# Enable this to make the software sensor automatically maintain disk utilization. (only if extracted_files_disk_enable is T)
Corelight::extracted_files_disk_cleanup_enable     F
# Keep disk usage at the specified file extraction location under a specified percentage.
Corelight::extracted_files_disk_cleanup_pct_max    80

# Extracted file export over SFTP
Corelight::extracted_files_ssh_enable    F
# Following options are for "sftp"
Corelight::extracted_files_ssh_mode      sftp
Corelight::extracted_files_ssh_server    1.2.3.4
Corelight::extracted_files_ssh_port      22
Corelight::extracted_files_ssh_user      username
# Leave this empty is doing key based authentication
Corelight::extracted_files_ssh_password
# Point to a privkey file on disk or encode the privkey directy in this variable hex escaped. (i.e. \xFF)
Corelight::extracted_files_ssh_privkey
# Leave this empty if the key has no passphrase
Corelight::extracted_files_ssh_privkey_passphrase
# Path on the remote file system to write files.  If relative path given, it will be relative to remote users home dir.
Corelight::extracted_files_ssh_path      ./corelight-extracted-files


###############################
# Metrics Data Export config  #
###############################

# Prometheus metrics export
CorelightMetrics::prometheus_enable               F
# Set to T in order to produce metrics per process instead of overall totals.
CorelightMetrics::prometheus_metrics_per_process  F
CorelightMetrics::prometheus_listen               127.0.0.1:8989
