{% if corelight_packages != None %}
{% for package in corelight_packages %}
@load Corelight/{{ package }}
{% endfor %}
{% endif %}

{% if included_packages != None %}
{% for package in included_packages %}
@load packages/{{ package }}
{% endfor %}
{% endif %}

@load /etc/corelight/packages
