echo "Run Date:" > "{{ cron_job_log_path }}/ansible-suricata-update.log"
date >> "{{ cron_job_log_path }}/ansible-suricata-update.log"
ansible-playbook -i "{{ suricata_update_dir }}/ansible/common/vars/inventory.yml" "{{ suricata_update_dir }}/ansible/suricata-update-cron-job.yml" --extra-vars '{"target":"{{ cron_job_target }}"}' --extra-vars '@"{{ suricata_update_dir }}/ansible/common/vars/secrets.yml"' >> "{{ cron_job_log_path }}/ansible-suricata-update.log"
rm {{ cron_job_log_path }}/ansible-suricata-update-14.log 2>/dev/null
mv {{ cron_job_log_path }}/ansible-suricata-update-13.log {{ cron_job_log_path }}/ansible-suricata-update-14.log 2>/dev/null
mv {{ cron_job_log_path }}/ansible-suricata-update-12.log {{ cron_job_log_path }}/ansible-suricata-update-13.log 2>/dev/null
mv {{ cron_job_log_path }}/ansible-suricata-update-11.log {{ cron_job_log_path }}/ansible-suricata-update-12.log 2>/dev/null
mv {{ cron_job_log_path }}/ansible-suricata-update-10.log {{ cron_job_log_path }}/ansible-suricata-update-11.log 2>/dev/null
mv {{ cron_job_log_path }}/ansible-suricata-update-9.log {{ cron_job_log_path }}/ansible-suricata-update-10.log 2>/dev/null
mv {{ cron_job_log_path }}/ansible-suricata-update-8.log {{ cron_job_log_path }}/ansible-suricata-update-9.log 2>/dev/null
mv {{ cron_job_log_path }}/ansible-suricata-update-7.log {{ cron_job_log_path }}/ansible-suricata-update-8.log 2>/dev/null
mv {{ cron_job_log_path }}/ansible-suricata-update-6.log {{ cron_job_log_path }}/ansible-suricata-update-7.log 2>/dev/null
mv {{ cron_job_log_path }}/ansible-suricata-update-5.log {{ cron_job_log_path }}/ansible-suricata-update-6.log 2>/dev/null
mv {{ cron_job_log_path }}/ansible-suricata-update-4.log {{ cron_job_log_path }}/ansible-suricata-update-5.log 2>/dev/null
mv {{ cron_job_log_path }}/ansible-suricata-update-3.log {{ cron_job_log_path }}/ansible-suricata-update-4.log 2>/dev/null
mv {{ cron_job_log_path }}/ansible-suricata-update-2.log {{ cron_job_log_path }}/ansible-suricata-update-3.log 2>/dev/null
mv {{ cron_job_log_path }}/ansible-suricata-update-1.log {{ cron_job_log_path }}/ansible-suricata-update-2.log 2>/dev/null
mv {{ cron_job_log_path }}/ansible-suricata-update-0.log {{ cron_job_log_path }}/ansible-suricata-update-1.log 2>/dev/null
cp {{ cron_job_log_path }}/ansible-suricata-update.log {{ cron_job_log_path }}/ansible-suricata-update-0.log 2>/dev/null
